.a{background-color: red;   color: white;}
.q{background-color: black; color: white;}
table{width: 1000px; border: solid  1px white ; text-align: center; border-collapse: collapse ; }
button{width: 200px; height: 20px;} 